{% extends 'course/base.html' %}


{% block content %}
<div class="container">
    <h1>Select a membership</h1>
    <div class="row">
        
        {% for object in object_list  %}
        <div class="col-sm-4 col-md-4">
            <h2>{{object.membership_type}}</h2> 
            <p>Price: ${{object.monthly_price}} <small>/month</small></p>
            <h4>Included Courses</h4>
            <ul>
                {% for course in object.course_set.all %}
                <li>{{course.title}}</li>
                {% endfor %}

            </ul>

    {%  if object.membership_type != 'Free' %}
    <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-warning">Select</button>

    </form>


    {% endif %}
        </div>

       
            
        {% endfor %}
            
    </div>
</div>
    
{% endblock content %}
    